---
import LibraryIcon from '../icons/Library.astro';
import HomeIcon from '../icons/Home.astro';
import SearchIcon from '../icons/Search.astro';
import SideMenuitem from './SideMenuitem.astro';
import SideMenuCard from './SideMenuCard.astro';

import { playlists } from '@/lib/data';
---

<nav class="flex flex-col flex-1 gap-2">
  <div class="bg-zinc-900 rounded-lg p-2">
    <ul>
      <SideMenuitem href="/">
        <HomeIcon />
         Home
      </SideMenuitem>

      <SideMenuitem href="/#">
        <SearchIcon />
         Search
      </SideMenuitem>
    </ul>
  </div>

  <div class="bg-zinc-900 rounded-lg p-2 flex-1">
    <ul>
      <SideMenuitem>
        <LibraryIcon />
         Your Library
      </SideMenuitem>

      {playlists.map((playlists) => <SideMenuCard playlist={playlists} />)}
    </ul>
  </div>
</nav>
