---
import Time from '@/icons/Time.astro';
import { type Song } from '@/lib/data';

interface Props {
  songs: Song[];
}

const { songs } = Astro.props;
---

<table class="table-auto text-left min-w-full divide-y-2 divide-gray-500/50">
  <thead class=""> </thead>

  <tbody> </tbody>
</table>
